.footer {
    display: flex;
    justify-content: center;
    align-items: center;
    border: solid 1px #f2992eff;
    background-color: #5eba8cff;
    width: 100%;
    height: 100px;
    bottom: 0;
    position: absolute;
}